<footer role="contentinfo" class="footer">
  <p>
    <small>© {{date format="YYYY"}}. All Rights Reserved.</small>
  </p>
  <p>
    <small>
      主题基于<a href="http://ghostium.oswaldoacauan.com/" target="_blank">Ghostium</a>，有所修改。
    </small>
  </p>
</footer>
